html,
body {
  box-sizing: border-box;
  height: 100%;
  background-color: #b0bec5;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  opacity: 0.7;
  font-size: x-large;
  width: 100%;
}
.header-left-pannel {
  width: 200px;
  color: lightsalmon;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-board-title {
  border: 2px solid goldenrod;
}
.header-right-pannel {
  color: green;
}
img {
  width: 100px;
}
.board {
  margin-left: 20px;
  padding: 20px;
  min-width: fit-content;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: auto;
}

#add-card {
  padding: 10px;
  color: white;
  background-color: #5aac44;
  border-radius: 6px;
  font-size: 10px;
  box-shadow: grey;
  border: none;
  font-weight: 400;
  line-height: 20px;
  margin: 8px 4px 0 0;
  padding: 6px 12px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}
#close {
  margin-left: 20px;
  padding-top: 20px;
  background-color: #e0e0e0;
  border: none;
  font-size: large;
  border-radius: 4px;
}
.card {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 20px;
}
#all-cards button {
  padding: 10px;
  border: none;
}
textarea {
  background-color: #cfd8dc;
}

.addlist-input-button {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.addlist-input-button input {
  width: 190px;
  height: 20px;
  border-radius: 5px;
}
.addlist-input-button button {
  background-color: #5aac44;
  color: white;
  border: none;
}
.routes-path {
  height: 92%;
}
/* List */
.lists {
  display: flex;
  margin-top: 20px;
  overflow: auto;
  height: 100%;
}
.add-lists-button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
.home-board {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.board-card {
  width: 200px;
  height: 200px;
  background-color: gray;
  position: relative;
  border-radius: 10px;
}
.board-card h1 {
  margin: 0px;
  padding: 0px;
  width: 180px;
  position: absolute;
  font-size: 20px;
  top: 170px;
  left: 10px;
}
.board-card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.card-modal-button {
  width: 190px;
}
.card-modal-button button {
  width: 100%;
  text-align: left;
}
.checklist-items {
  width: 50%;
  margin-top: 10px;
}
.styles_modal__gNwvD {
  background-color: #e0e0e0;
}
.model-checklist-button {
  width: 300px;
  display: flex;
  margin-bottom: 20px;
}
.model-checklist-button button {
  background-color: #0d47a1;
  border: none;
  color: white;
}
.add-checklist-button {
  width: 100px;
}
.checklists {
  /* background-color: #80cbc4; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.checklist-name {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
}
.checklist-name button {
  background-color: #ef5350;
  border: none;
  border-radius: 4px;
}
.checkbox-and-label {
  margin-bottom: 5px;
  width: 100%;
}
.checkbox-and-label button {
  float: right;
  background-color: #e0e0e0;
  border: none;
}
.checkitem-input {
  text-decoration: line-through;
  display: inline-flex;
}
.uncheckeditem-input {
  display: inline-flex;
}
.input-checklist-item {
  display: flex;
  justify-content: center;
}
.input-checklist-item button {
  background-color: #5aac44;
  border: none;
}
.checklist-items {
  background-color: #e0e0e0;
}
hr {
  margin: 0;
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
}
